@{
    ViewData["Title"] = "Home Page";
}

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <strong>About Us</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p class="pi">
                    In April of 1997, I received my A+ Certification, and my business opened its doors in late 1997, and Joe’s Discount
                    Computers has continued ever since. Originally it was just friends and family that I serviced. Come April of 1999; I received a
                    contract to perform services for my first business.
                </p>
                <p class="pi">
                    Originally it was just computer repair and sales. In mid-1999, I added Network Design & setup. Then in early 2007,
                    I added web hosting and web development. In mid-2014, until May 2017, I became the web developer for the Pierce County Council
                    of St. Vincent de Paul.
                </p>
                <p class="pi">
                    Come late September of 2017; I started my Associates in Computer Network Information System Services. I will finish
                    my degree in March of 2021. After that, I will start my Bachelor of Applied Science in Cybersecurity.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <strong>About Guidelines</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <ul>
                    <li class="lit">
                        Due to Lakewood ordinance, my particular type of business doesn't allow customers
                        visitations to my workplace, so all business shall be completed at the customer&rsquo;s home.
                    </li>
                    <li class="lit">
                        At my discretion, especially if it will take longer than the allotted time, I reserve the
                        right to do the work at my place of business. If this happens, the mileage fee will be waved for the return trip.
                    </li>
                    <li class="lit">
                        There is no mileage fee for all clients with a Lakewood address, however the clock starts
                        when I leave my previous appointment. Any other place will be charged a per-mile fee, based on the shortest
                        route to the customer&rsquo;s home. We service from Tumwater, Olympia, Lacey, Dupont, Roy, Orting, Spanaway,
                        Parkland, Lakewood, Steilacoom, Tacoma, Fife, Milton, Puyallup, Sumner, Bonney Lake, Pacific, Edgewood, Algona,
                        Auburn, Kent, Federal Way, and Des Moines.
                    </li>
                    <li class="lit">All appointments shall be made on this site by following <strong><u>this link (coming soon)</u></strong>.</li>
                    <li class="lit">
                        All appointments shall be made at least one week out. Unless you have an emergency that
                        needs to be handled right away, there will be a rush charge.
                    </li>
                    <li class="lit">
                        If, by chance, I have to cancel your appointment, I will rebook it at the earliest available convenience and
                        I&rsquo;ll wave the rush charge.
                    </li>
                    <li class="lit">I do require 24 hour notice for cancellations. Otherwise, you will loose your space in the appointment line.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
